.header{
  padding: 20px;
  &__inner{
    display: flex;
    justify-content: space-between;
  }

  &__logo{
    text-transform: uppercase;
  }

  &__list{
    display: flex;
    gap: 20px;

    &-item{
      text-transform: uppercase;
    }
  }
}