:root{
  --color-light-900 : #FFFFFF;
  --color-light-800 : #e7e7e7;
  --color-light-700 : #d7d7d7;
  --color-light-600 : #ababab;
  --color-light-500 : #7e7e7e;

  --color-dark-900 : #000000;
  --color-dark-800 : #101010;
  --color-dark-700 : #151515;
  --color-dark-600 : #333333;
  --color-dark-500 : #4f4f4f;

  --color-succsess: #59D499;
  --color-accent-blue: #56C2FF;
  --color-accent-red: #FF6363;
  --color-accent-orange: #ff8d63;
  --color-accent-purple: #A485FF;
  --color-accent-glow: #FFE2E2;
  --color-dark-alternate : #170e2f;


  --font-family-base: 'Inter', sans-serif;

  --container-width: 1280px;
  --container-padding-x: 32px;
  --section-padding-y : 256px;

  --border-radius: 12px;
  --border-radius-medium: 8px;
  --border-radius-small: 6px;
  --border-radius-button: 8px;
  --button-height: 44px;
  --input-height: 46px;

  --transition-duration: 0.3s;

}